Resilience mechanisms for spoofed parameters

support_client_extension_claims metadata parameter can be spoofed, and is a fundamental flaw to rely on it for metadata discovery, which I lack the required intelligence to imagine a mitigation

Can be spoofed is network level risk for which we provide two elements of guidance:
- By extending [RFC8414 - Authorization Server Metadata](https://www.rfc-editor.org/rfc/rfc8414) and especially section [3](https://www.rfc-editor.org/rfc/rfc8414#section-3) which itself is bound by [RFC5785 - Defining Well-Known Uniform Resource Identifiers (URIs)](https://www.rfc-editor.org/rfc/rfc5785) which address part of the question here by assuring the `.well-known` is composed from the `issuer` identifier value configured client side. I recognize that there is a missing link with the OpenID Connect Core which defines it as a:
> case-sensitive URL using the https scheme that contains scheme, host, and optionally, port number and path components and no query or fragment components. 
  - This means that `https` is used which should assure a certain level of origin guarantee through control of TLS termination by Server Certificate authentication.
- By disposing of the ability, by extension of [RFC8414 - Authorization Server Metadata](https://www.rfc-editor.org/rfc/rfc8414) , to benefit from section [2.1](https://www.rfc-editor.org/rfc/rfc8414#section-2.1).  Signed Authorization Server Metadata for higher assurance use cases.

Do you think this is sufficient?

Overall if you think that this parameter is at risk of spoofing, then the whole ecosystem of OAuth2 / OpenID Connect is spoofable. If you think that OAuth2 / OpenID Connect provide proper spoofing protection mechanisms and guidance for higher assurance use-cases, then this specification is as it builds on top of it.

@0x73746F66 as a conclusion, this proposal relies:
- For the format, on the implementers to follow the [RFC7519 / JWT](https://datatracker.ietf.org/doc/html/rfc7519), [RFC7515 / JWS](https://www.rfc-editor.org/rfc/rfc7515.html), as long as [RFC9068 / JSON Web Token (JWT) Profile for OAuth 2.0 Access Tokens](https://datatracker.ietf.org/doc/html/rfc9068) specifications;
- For flows, operations of AS, and any risks related to those, on the implementers to follow [RFC6749 / OAuth 2.0 Authorization Framework](https://datatracker.ietf.org/doc/html/rfc6749) and [RFC9700 / its Security BCP](https://datatracker.ietf.org/doc/html/rfc9700) at least. Implementers will have to follow the required RFC based on the non core flow they want to use with their AS.

From the point of view of the authors, this specification does not introduce any new risk, as the AS already performs the Client Authentication in accordance to RFC6749.

If you feel that you have identified a new risk, you are encouraged to contribute to each of those standard accordingly so that this proposal can benefit from your feedback through the discussions and iterations that will happen over there.

If you still feel that this proposal need to handle a part or the globality of the point you are making here, you are encouraged to propose a new / updated / corrected section through a PR on this repo, for which any contributor would be able to discuss the details before a possible merge.